version: '2'

services:

  wordpress:
    image: wordpress:latest
    ports:
      - 80:80
    volumes:
      - ./public_html:/var/www/html
    environment:
      WORDPRESS_DB_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}
    restart: unless-stopped

  mysql:
    image: mariadb
    restart: unless-stopped
    environment:
      MYSQL_ROOT_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}

