version: '2'

services:

  wordpress:
    image: wordpress:latest
    ports:
      - 80:80
    volumes:
      - ./public_html:/var/www/html
    environment:
      WORDPRESS_DB_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}

  mysql:
    image: mariadb
    environment:
      MYSQL_ROOT_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}

