mariadb:
  image: mariadb:{{ mariadb }}
  volumes:
    - ./datadir:/var/lib/mysql
  ports:
    - {{ MARIADB_PORT }}:3306
  environment:
    MYSQL_ROOT_PASSWORD: {{ MARIADB_ROOT_PASSWORD }}
  restart: unless-stopped

phpmyadmin:
    image: phpmyadmin/phpmyadmin
    environment:
      - PMA_ARBITRARY=1
    links:
      - mariadb
    restart: always
    ports:
      - {{ PHPMYADMIN_PORT }}:80
    volumes:
      - /sessions
    restart: unless-stopped
