web:
  image: alexcheng/magento
  ports:
    - "80:80"
  links:
    - mysql
  restart: unless-stopped

mysql:
  image: mariadb
  restart: unless-stopped
  environment:
    MYSQL_ROOT_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}
    MYSQL_DATABASE: magento_db
    MYSQL_USER: magento
    MYSQL_PASSWORD: {{ MYSQL_MAGENTO_PASSWORD }}
