mongodb:
  image: mongo:{{ mongo }}
  ports:
    - 27017:27017
  volumes:
    - ./datadir:/data/db
  restart: unless-stopped

mongoexpress:
  image: mongo-express:latest
  ports:
    - {{ MONGOEXPRESS_PORT }}:8081
  links:
    - mongodb:mongo
  restart: unless-stopped
