joomla:
  image: joomla
  ports:
    - 80:80
  links:
    - joomladb:mysql
  volumes:
    - ./public_html:/var/www/html
  environment:
    JOOMLA_DB_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}
  restart: unless-stopped

joomladb:
  image: mariadb
  environment:
    MYSQL_ROOT_PASSWORD: {{ MYSQL_ROOT_PASSWORD }}
  restart: unless-stopped
 